// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

@font-face
   font-family Panton-Regular
   font-style normal
   src url(fonts/Panton-Regular.otf)

@font-face
   font-family Panton-Bold
   font-style normal
   src url(fonts/Panton-Bold.otf)