// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

@font-face
  font-family Panton-Light
  src url(fonts/Panton-Light.otf)

@font-face
  font-family Panton-ExtraLight
  src url(fonts/Panton-ExtraLight.otf)

@font-face
  font-family Panton-Regular
  src url(fonts/Panton-Regular.otf)

@font-face
  font-family Panton-SemiBold
  src url(fonts/Panton-SemiBold.otf)

@font-face
  font-family Panton-Bold
  src url(fonts/Panton-Bold.otf)

@font-face
  font-family Panton-ExtraBold
  src url(fonts/Panton-ExtraBold.otf)